---
title: Archive
layout: index
header: Archive
subheader: Collection of stuff I have done.
---
.w-100
  | {% include _archive_index_project header='Freelance projects' collection=site.freelance path='/archive/freelance' %}
  | {% include _archive_index_project header='Products' collection=site.products path='/archive/products' %}
  | {% include _archive_index_project header='Services' collection=site.services path='/archive/services' %}
  | {% include _archive_index_project header='Publications' collection=site.publications path='/archive/publications' %}
  | {% include _archive_index_project header='Open source projects' collection=site.opensource path='/archive/opensource' %}
  | {% include _archive_index_project header='Writing' collection=site.writing path='/archive/writing' %}
  | {% include _archive_index_project header='Mentoring' collection=site.mentoring path='/archive/mentoring' %}
  | {% include _archive_index_project header='Tutorials' collection=site.tutorials path='/archive/tutorials' %}
  | {% include _archive_index_project header='Internships' collection=site.internships path='/archive/internships' %}
  | {% include _archive_index_project header='Talks' collection=site.talks path='/archive/talks' %}
